<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Ready for pickup</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <% @order_items.each do |order_item| %>
            <tr>
              <td class="col-sm-8 col-md-6">
                <div class="media">
                  <a class="thumbnail pull-left" href="#">
                    <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#"><%= order_item.item.name.humanize %></a></h4>
                    <h5 class="media-heading"> by <a href="#">username</a></h5>
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1" style="text-align: center">
                <strong><%= order_item.quantity %></strong>
              </td>
              <td class="col-sm-1 col-md-1 text-center"><strong>$<%= order_item.price %></strong></td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong><%= order_item.item.ready_time.strftime('%H:%M') %></strong></td>
              <td class="col-sm-1 col-md-1">
                <%= form_tag remove_from_order_path, id: "dish-#{order_item.item.id}" do %>
                    <%= hidden_field_tag :dish_id, order_item.item.id %>
                    <%= submit_tag 'Remove', class: "btn btn-danger" %>
                <% end %>
            </tr>
        <% end %>
        <tr>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong>$<%= "%.2f" % @total_amount %></strong></h3></td>
        </tr>
        <tr>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>
            <%= button_to root_path, method: :get, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-cutlery"></span> Continue shopping
            <% end %>
          </td>
          <td>
            <%= render file: '/charges/new' %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



