<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cutlery"></span> Homechefs</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to 'My profile',  user_path(current_user.id) %></li>
            <li><%= link_to 'Add dish', new_user_dish_path(current_user) %></li>
        <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li><%= link_to "Login", new_user_session_path %>
            </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn">
            <%= button_to checkout_index_path, method: :get, class: "btn btn-primary pull-right" do %>
                <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
            <% end %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>