<ul>
  <% @dishes.each do |dish| %>
      <li id="dish_<%= dish.id %>">
        <%= dish.name.humanize %><br/>
        <%= dish.description.humanize %><br/>
        Price: $<%= dish.price %><br/>
        Ready for pick-up at <%= dish.ready_time.strftime('%H:%M') %><br/>
        <%= dish.portions %> portions left
        <%= form_tag add_to_order_path, id: "dish-#{dish.id}" do %>
            <%= hidden_field_tag :dish_id, dish.id %>
            <%= submit_tag "Add dish", class: "btn btn-primary btn-sm" %>
        <% end %>
      </li>
  <% end %>
</ul>
