<!DOCTYPE html>
<html>
<head>
  <title>Homechef</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<%= render file: 'partials/_navbar' %>
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1" style="padding: 1px 25px 1px 25px;
           min-height: 220pt;">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<%= render file: 'partials/_footer' %>
</body>
</html>
